@import "../../styles/font-styles";

.container {
    position: relative;
    border-radius: 8px;
    background: var(--surface);
    border: 1px solid var(--divider);
    display: inline-block;
    padding: 4px;
}

.greyBtn {
    background: transparent !important;
    color: var(--on_surface_secondary) !important;
}

.greyBtn[data-focus-visible-added] {
    border: 2px solid var(--primary);
}

.buttonBase {
    height: 40px;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    @extend %callout;
}

.firstSelected {
    clip-path: inset(0 50% 0 0 round 4px);
}

.secondSelected {
    clip-path: inset(0 0 0 50% round 4px);
}

.blueBtnContainer {
    position: absolute;
    transition: 300ms clip-path;
    z-index: 1;
    /* Minus the padding */
    width: calc(100% - 8px);
}

.blueBtn {
    background: var(--primary) !important;
    color: var(--on_primary) !important;
}
