@import '../../styles/font-styles';
@import '../../styles/utils';

.checkboxTitle {
  @extend %callout;
  margin: 0 auto;
  color: var(--on_surface);
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.checkboxContainer {
  display: flex;
  max-width: 423px;
  width: 100%;
  margin: 0 auto 16px;
  min-height: 48px;
  list-style: none;
  padding: 0;
  flex-direction: column;

  @include forDesktop() {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.checkboxContainer li {
  margin-right: 16px;
  margin-bottom: 8px;

  @include forMobile() {
    label {
      width: 100%;
      height: 40px;
      input {
        top: 0;
      }
      span {
        height: 100%;
      }
      input:checked + span:after {
        top: 11px;
      }
    }
  }
}


.signupInputContainer {
  margin: 0 auto;
  max-width: 576px;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
}

.signupInput {
  @extend %body_01;
  color: var(--on_surface);
  padding: 16px 108px 16px 8px;
  // Prevents width from exceeding the window size
  max-width: calc(100% - 108px - 10px);
  flex-grow: 1;
  display: block;
  border: 1px solid var(--divider);
  border-radius: var(--roundness);
  background: transparent;
}

.inputDescribe {
  @extend %body_01;
  color: var(--on_surface_secondary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

input[name="email_address"]:not(:valid) ~ .inputDescribe {
  opacity: 0;
  z-index: -2;
}

.signupBtn {
  margin: 0 8px !important;
  padding: 8px !important;
  background: var(--primary) !important;
  color: var(--on_primary) !important;
  width: 92px;
  border-radius: var(--roundness) !important;
  position: absolute !important;
  right: 0;

  .MuiButton-label {
    @extend %callout;
    text-transform: none;
  }
}

.bottomMailing {
  margin-top: 56px;
}

.formkit-alert.formkit-alert-success {
  @extend %callout;
  text-align: center;
  color: var(--on_surface);
  margin-top: 16px;
}
