@import "../styles/font-styles";
@import "../styles/utils";

:root {
  --roundness: 8px;
  --disabledOpacity: 0.4;
  --lessRoundness: 4px;
}

body {
  margin: 0;
  padding: 0;
}

.sharkBackground {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.sharkHeader {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.bodySheet {
  margin: 90vh auto 0;
  max-width: 960px;
  min-height: 200vh;
  border-radius: var(--roundness);
  background: var(--floating_surface);
  padding: 72px 32px;
  box-shadow: 0px 3px 3px rgba(19, 42, 88, 0.0196802),
    0px 7px 6px rgba(19, 42, 88, 0.03), 0px 13px 10px rgba(19, 42, 88, 0.04),
    0px 23px 18px rgba(19, 42, 88, 0.05), 0px 42px 34px rgba(19, 42, 88, 0.06);
}

.displayHeader {
  @extend %display;
  text-align: center;
  color: var(--on_surface);
  margin-bottom: 16px;
  margin-top: 0;
}

.body2Text {
  @extend %body_02;
  color: var(--on_surface_secondary);
  text-align: center;
}

.signupInputContainer {
  margin: 0 auto;
  max-width: 576px;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: relative;
}

.signupInput {
  @extend %body_01;
  color: var(--on_surface);
  padding: 16px 108px 16px 8px;
  flex-grow: 1;
  display: block;
  border: 1px solid var(--divider);
  border-radius: var(--roundness);
  background: transparent;
}

.signupInput::placeholder {
  color: var(--on_surface_secondary);
}

.signupBtn {
  margin: 0 8px !important;
  padding: 8px !important;
  background: var(--primary) !important;
  color: var(--on_primary) !important;
  width: 92px;
  border-radius: var(--roundness) !important;
  position: absolute !important;
  right: 0;
}

hr {
  margin: 32px 0;
  border: 0;
  border-top: 1px solid var(--divider);
}

.greyBox {
  height: 100%;
  width: 100%;
  border: 1px solid var(--divider);
  background: var(--tinted_surface);
  border-radius: 16px;
  overflow: hidden;
}

.imagePreview {
  max-width: 80%;
  margin: 50px auto 0;
  display: block;
}

.svgShadow {
  filter: drop-shadow( 0px 3px 3px rgba(19, 42, 88, 0.0196802)) drop-shadow(0px 7px 6px rgba(19, 42, 88, 0.03)) drop-shadow(0px 13px 10px rgba(19, 42, 88, 0.04)) drop-shadow(0px 23px 18px rgba(19, 42, 88, 0.05)) drop-shadow(0px 42px 34px rgba(19, 42, 88, 0.06));
}

.screenshotRow {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;


  @include forDesktop() {
    flex-direction: row;
  }
}

.repositories,
.branches {
  flex-grow: 1;
  margin-bottom: 32px;

  @include forDesktop() {
    width: 1px;
  }
}

@include forDesktop() {
  .repositories {
    margin-right: 16px;
  }
  .branches {
    margin-left: 16px;
  }
}

.featureTitle {
  @extend %headline_02;
  margin: 0;
  text-align: center;
  color: var(--on_surface);
}

.featureBody {
  @extend %body_01;
  text-align: center;
  margin: 0;
  color: var(--on_surface);
}

.featureDescribeContainer {
  padding: 24px;
}
