@import "../styles/font-styles";
@import "../styles/utils";

:root {
  --roundness: 8px;
  --disabledOpacity: 0.4;
  --lessRoundness: 4px;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary);
}

i {
  font-style: italic;
}

.bodyPTag {
  @extend %body_01;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.displayHeader {
  @extend %display;
  text-align: center;
  color: var(--on_surface);
  margin-bottom: 16px;
  margin-top: 0;
}

.body2Text {
  @extend %body_02;
  color: var(--on_surface_secondary);
  text-align: center;
}

.twitterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: var(--roundness);
  text-decoration: none;
  color: var(--primary);
}

.twitterButton:hover {
  background: rgba(0,0,0,0.1);
}

.twitterButton svg {
  fill: var(--primary);
  margin-left: 8px;
}


.dontWorry {
  @extend %caption_02;
  text-align: center;
  color: var(--on_surface_secondary);
  margin-top: 16px;
}

hr {
  margin: 32px 0;
  border: 0;
  border-top: 1px solid var(--divider);
}

.greyBox {
  height: 100%;
  width: 100%;
  border: 1px solid var(--divider);
  background: var(--tinted_surface);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.imagePreview {
  max-width: 80%;
  margin: 50px auto 0;
  display: block;
}

.svgShadow {
  filter: var(--svg_shadow);
}

.screenshotRow {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  @include forDesktop() {
    flex-direction: row;
  }
}

.repositories,
.branches {
  flex-grow: 1;
  margin-bottom: 32px;

  @include forDesktop() {
    width: 1px;
  }
}

@include forDesktop() {
  .repositories {
    margin-right: 16px;
  }
  .branches {
    margin-left: 16px;
  }
}

.featureTitle {
  @extend %headline_02;
  margin: 0;
  text-align: center;
  color: var(--on_surface);
}

.featureBody {
  @extend %body_01;
  text-align: center;
  margin: 0;
  color: var(--on_surface);
}

.featureDescribeContainer {
  padding: 24px;
}

.featureMargin {
  margin-bottom: 32px;
}

.darkSelectorOneToOne {
  margin: 0 auto;
  width: 100%;
  padding-top: 100%;
  @include forDesktop() {
    width: 50% !important;
    padding-top: 50% !important;
  }
}

.darkSelector {
  z-index: 1;
  position: absolute !important;
  width: calc(60%);
  top: 62%;
  left: calc(50% - 4px);
  transform: translateX(-50%);
}

.darkSelectorImage {
  margin-top: 20px;
}

.githubContainer {
  height: 300px;
}

.gitHubImages {
  width: 30%;
  position: absolute;
}

.noGHAccountImg {
  transition: left 1000ms ease-in-out;
  left: -100%;
  @include forDesktop() {
    left: 32px;
  }
}

.ghAccountImg {
  transition: width 1000ms ease-in-out;
  right: 32px;
  width: 50%;
  @include forDesktop() {
    width: 30%;
  }
}

.githubLogo {
  position: absolute;
  left: 60px;
  height: 70px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  transition: left 600ms ease-in-out;

  @include forDesktop() {
    left: 50%;
  }
}

.gitHubImage {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url("/github.png");
  background-size: cover;
  background-position: center center;
}

.leftLine,
.rightLine {
  position: absolute;
  top: calc(50% - 7px);
}

.leftLine {
  transition: opacity 300ms ease-in-out;
  left: calc(32px + 30%);
  opacity: 0;
  width: calc((100% / 2) - 30% - 70px);
  @include forDesktop() {
    opacity: 1;
  }
}

.rightLine {
  transition: right 800ms ease-in-out, width 600ms ease-in-out;
  width: calc(50% - 60px - 70px);
  right: calc(50% + 32px);
  @include forDesktop() {
    right: calc(32px + 30%);
    width: calc((100% / 2) - 30% - 70px);
  }
}
