@import "../../styles/font-styles";
@import "../../styles/utils";

.sharkBackground {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

$minHeaderSizeMobile: 500px;
$minHeaderSizeDesktop: 650px;
$headerSize: 55vh;

.sharkHeader {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    img {
        max-width: 90%;
    }

    min-height: $minHeaderSizeMobile;
    height: $headerSize;

    @include forDesktop() {
        min-height: $minHeaderSizeDesktop;
    }
}

.playPauseIndexBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(5vh + 1rem);
}

.bodySheetSpacer {
    min-height: $minHeaderSizeMobile;
    height: $headerSize;
    z-index: -11;

    @include forDesktop() {
        min-height: $minHeaderSizeDesktop;
    }
}

.bodySheet {
    margin: 0 auto;
    max-width: 960px;
    z-index: 10;
    position: relative;
    border-top-left-radius: var(--roundness);
    border-top-right-radius: var(--roundness);
    background: var(--floating_surface);
    padding: 72px 32px 72px;
    box-shadow: 0px 3px 3px rgba(19, 42, 88, 0.0196802),
    0px 7px 6px rgba(19, 42, 88, 0.03), 0px 13px 10px rgba(19, 42, 88, 0.04),
    0px 23px 18px rgba(19, 42, 88, 0.05), 0px 42px 34px rgba(19, 42, 88, 0.06);
}

.termSheet {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;

    @extend %body_01;

    @include forDesktop() {
        padding-top: 144px;
    }

    a {
        text-decoration: none;
    }
}

.disclaimer {
    @extend %caption_02;
    margin-top: 32px;
    text-align: center;
    color: var(--on_surface_secondary);
}
