svg.animatedLine {
  line {
    stroke-width: 7;
    stroke-linecap: round;
    stroke-dasharray: 20;
    stroke-dashoffset: 82;
  }
}

svg.animatedLine.doAnimate {
  line {
    animation: lineMove 2s infinite linear;
  }

  @keyframes lineMove {
    to {
      stroke-dashoffset: 0;
    }
  }
}
