$sizeOfREM: 16;

%display {
  font-weight: 700;
  font-size: #{48/ $sizeOfREM}rem;
  line-height: #{64/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%headline_01 {
  font-weight: 700;
  font-size: #{34/ $sizeOfREM}rem;
  line-height: #{48/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%headline_02 {
  font-weight: 700;
  font-size: #{28/ $sizeOfREM}rem;
  line-height: #{36/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%headline_03 {
  font-weight: 500;
  font-size: #{20/ $sizeOfREM}rem;
  line-height: #{28/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%callout {
  font-weight: 500;
  font-size: #{16/ $sizeOfREM}rem;
  line-height: #{24/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%body_01 {
  font-weight: 400;
  font-size: #{16/ $sizeOfREM}rem;
  line-height: #{24/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%body_02 {
  font-weight: 400;
  font-size: #{14/ $sizeOfREM}rem;
  line-height: #{20/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%caption_01 {
  font-weight: 500;
  font-size: #{12/ $sizeOfREM}rem;
  line-height: #{16/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%caption_02 {
  font-weight: 400;
  font-size: #{12/ $sizeOfREM}rem;
  line-height: #{16/ $sizeOfREM}rem;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

%code {
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  font-size: #{12/ $sizeOfREM}rem;
  line-height: #{20/ 16}rem;
  margin: 0;
}
